body {
  padding: 1rem;
  font-family: sans-serif;
}

main {
  max-width: 1000px;
}

th,
td {
  /* border: 1px solid #ccc; */
  padding: 0.25rem 0.4rem;
}

tr:nth-child(even) {
  background-color: #eee;
}
